
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 12em;
  margin-right: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 1rem;
  /* background: #f4f4f4;  */
  margin-top: 2rem; 
}

.search input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  width: 15rem;
}

.search button {
  padding: 0.75rem 1.3rem;
  border: none;
  background: #0056b3;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}

.search button:hover {
  background: #003f8a;
  transform: scale(1.05);
}

.search button:active {
  transform: scale(0.95);
}

main {
  flex: 1;
}
